<h2>Your account</h2>

<p>What do you want to do next?</p>
<ul>
 <li>Manage your <%= link_to "collection", yoyos_url %>?</li>
 <li><a href="#">Edit your account preferences?</a></li>
</ul>
<p>Whatever you decide to do, be sure to <a href="#">logout</a> before you leave.</p>
