<%
my_photos = []
current_user.yoyos.each do |yoyo|
  yoyo.photos.each do |photo|
    my_photos << photo.url
  end
end

photos = user_flickr_photos.reject { |flickr_photo| my_photos.include? flickr_photo.url(:medium) }
if photos.length > 0
%>

<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
 <% i = 0; photos.each do |photo| %>
  <td align="center">
   <input id="photo_<%=i%>" type="checkbox" name="photos[]" value="<%=photo.url(:medium)%>"/> <%= h photo.title %><br/>
   <img src="<%= photo.url(:thumbnail) %>"/>
  </td>
  <% i = i + 1; if i.modulo(3) == 0 %>
 </tr><tr>
  <% end %>
 <% end %>
 </tr>
</table>

<% else %>

<p>You need to add some photos to your flickr photostream.</p>

<% end %>
