<%
photos = user_flickr_photos
if photos.length > 0
%>

<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
 <% i = 0; photos.each do |photo| %>
  <td align="center">
   <input type="checkbox" onclick="toggleYoyoPhoto(this)"/> <%= photo.title %><br/>
   <img src="<%= photo.url(:thumbnail) %>" alt="<%= photo.url(:medium) %>"/>
  </td>
  <% i = i + 1; if i.modulo(3) == 0 %>
 </tr><tr>
  <% end %>
 <% end %>
 </tr>
</table>

<script type="text/javascript">
function toggleYoyoPhoto(checkbox) {
  if (checkbox.checked) {
    var image = checkbox.parentNode.children[2];
    alert('TODO: save "' + image.alt + '" as YoyoPhoto');
  }
}
</script>

<% else %>

<p>You need to tag some photos in your flickr photostream with <tt>yoyocase</tt>.</p>

<% end %>
