<table border="0" cellspacing="0" cellpadding="0" width="100%">
 <tr>
  <td><label>Manufacturer</label></td>
  <td><%= h @yoyo.manufacturer %></td>
 </tr>
 <tr>
  <td><label>Model year</label></td>
  <td><%= h @yoyo.model_year %></td>
 </tr>
 <tr>
  <td><label>Model name</label></td>
  <td><%= h @yoyo.model_name %></td>
 </tr>
</table>
