<h2>Your collection</h2>

<div id="gallery">
<% if current_user.yoyos.empty? %>
 <p>You don't have any yoyos in your collection.</p>
 <p><%= link_to "Add one?", new_yoyo_url %></p>
<% else %>
 <ul>
 <% current_user.yoyos.each do |yoyo| %>
  <li><%= link_to h("#{yoyo.model_year} #{yoyo.manufacturer} #{yoyo.model_name}"), yoyo_url(yoyo) %></li>
 <% end %>
 </ul>
 <p><%= link_to "Add another?", new_yoyo_url %></p>
<% end %>
</div>

<div id="sidebar">
 <%= render :partial => "sidebar" %>
</div>

<div class="clearing"></div>
