/* style-guide:
 *
 * colors:
 * white (#ffffff) - background
 * orange-brown (#b24d17) - hrefs, accents, popup and status message (error/warning) borders
 * dark/faded orange-brown (#2f241e) - lightbox background
 * light grey (#e9e9e9) - borders
 *
 * fonts:
 * sans-serif, with occasional monospace for emphasis
 *
 * usage:
 * titles - uppercase first word only
 * forms/labels - uppercase first word only
 * links/navigation - lowercase
 * buttons - uppercase first word only
 * text - proper sentence case
 */

/*** resets ***/

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0 0 0 1em;
}

h1, p {
  margin: 0;
}

a img {
  border: 0;
}

/*** grid ***/

body {
  margin-bottom: 193px;
}

#container {
  padding-top: 83px;
}

#header {
  position: absolute;
  top: 9px;
  left: 50px;
  z-index: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#header h1 {
  padding: 12px 31px;
}

#nav {
  position: absolute;
  top: 0;
  padding: 15px 0em;
  white-space: nowrap;
  width: 99%;
}

#nav ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-block;
  padding: 9px 19px;
}

#content {
  margin: 0 auto;
  margin-top: 2em;
  width: 625px;
}

table.thumbnailSelect {
  width: 100%;
}

.thumbnailSelect td {
  padding-bottom: 23px;
  vertical-align: bottom;
}

#content h2, #footer, #galleryDetail div, .thumbPending, #collectionList li,
.msg, .err,
.thumbnailSelect td,
#userDetailDialog .loading {
  text-align: center;
}

#sidebar {
  float: right;
  width: 160px;
}

#gallery {
  float: left;
  width: 452px;
}

#footer {
  margin-top: 10em;
}

#galleryDetail div {
  margin-bottom: 42px;
}

.thumbPending {
  display: inline-block;
  position: relative;
  height: 111px;
  width: 111px;
}

.thumbPending a {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 111px;
  width: 100%;
  height: 100%;
}

#collectionList {
  list-style: none;
  margin: 0;
  padding: 0;
}

#collectionList li {
  float: left;
  height: 175px;
  margin: 0;
  padding: 1px;
  width: 111px;
}

#userList li {
  float: left;
  width: 50%;
}

p, ul, ol {
  margin-bottom: 1em;
}

ol li {
  margin: 0 0 1em -2em;
}

hr {
  margin: 2em 3em;
}

td {
  vertical-align: top;
}

label {
  padding-right: 1em;
}

img {
/* TODO: ensure images aren't too large on edit screens and screw up the display
  max-width: 450px;
  width: expression(this.width > 450 ? 450 : true);
*/
}

.submit {
  margin-top: 3em;
}

.clearing {
  clear: both;
}

.msg, .err {
  padding: 3px;
  margin: 0 3em 2em;
}

.report {
  border-collapse: collapse;
  width: 100%;
}

.report th {
  text-align: left;
  vertical-align: top;
}

.report td {
  padding: 2px 5px 2px 0;
}

.adv {
  display: none;
}

#advToggle {
  line-height: 11px;
  overflow: hidden;
  padding-left: 11px;
}

#advShow, #advHide {
  padding-left: 7px;
}

#userDetailDialog {
  position: absolute;
  left: 50%;
  margin-left: -175px;
  width: 350px;
  -moz-box-shadow: 3px 3px 7px;
}

.dialog {
  display: none;
  padding: 7px;
}

a.dialogClose {
  float: right;
}

.soloform {
  margin: 0 auto;
  width: 70%;
}

#tosRegBlock {
  margin: 1em;
  padding: 1em;
  height: 250px;
  overflow: auto;
}

.rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.miniRound {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#slideshow img {
  display: none;
}

/*** fonts/colors ***/

#header, #nav ul, #advShow, #advHide, #userDetailDialog {
  background-color: white;
}

body {
  background: white url("/res/stringball.jpg") bottom center no-repeat;
  font: normal 11px sans-serif;
}

#container {
  background: transparent url("/res/top.jpg") top center repeat-x;
}

#header a, .report thead a {
  color: black;
}

#header h1 {
  font-size: 24px;
}

#nav a {
  font-size: 14px;
}

#advToggle, #userDetailDialog .report td {
  font-size: 10px;
}

#footer, a.dialogClose, #tosRegBlock, .thumbPending a,
#smallLogin label, #smallLogin input, #smallLogin a,
.advField label, .advField input {
  font-size: 9px;
}

a, label, .err {
  font-weight: bold;
}

a {
  color: #b24d17;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.thumbPending {
  background: transparent url("/res/icon_gradient.png") center center no-repeat;
}

.thumbPending a {
  font-weight: normal;
}

#tosRegBlock {
  border: 1px solid black;
}

hr {
  color: #e9e9e9;
}

.report td {
  border-top: 1px solid #e9e9e9;
}

#userDetailDialog .report td {
  border-top: 0;
}

#userDetailDialog {
  border: 1px solid #b24d17;
}

.msg, .err {
  border: 2px solid #b24d17;
}

.err {
  background-color: black;
  color: white;
}

#advToggle {
  background: transparent url("/res/expandCollapse.png") 0 0 no-repeat;
}

#advToggle.expanded {
  background-position: -11px 0;
}

a.dialogClose {
  font-style: italic;
}

