ExpiresActive On
ExpiresDefault A0
ExpiresByType image/ico "access plus 2 months"
ExpiresByType image/x-icon "access plus 2 months"
ExpiresByType image/vnd.microsoft.icon "access plus 2 months"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType text/css "access plus 1 day"
ExpiresByType text/javascript "access plus 1 day"

FileETag none

# TODO: configure for PROD deploy
RewriteEngine on
RewriteBase /
#RewriteCond $1 !^(index\.php|favicon\.ico|res)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# added the following on the prod server...what did they change (and how long ago)? (3/6/2013)
#RewriteRule ^(.*)$ index.php/?$1 [L]
RewriteRule ^(.*)$ index.php/$1 [L]

